---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getBlogPermalink } from "~/utils/permalinks";

const metadata = {
  title: 'YOLO',
};
const blogUrl = getBlogPermalink()

---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: '首页', href: '#' },
        // { text: 'About', href: '#about' },
        // { text: 'Resume', href: '#resume' },
        // { text: 'Porfolio', href: '#porfolio' },
        { text: '文章', href: blogUrl },
        { text: 'Github', href: 'https://github.com/EnjoyWT' },
      ]}
      isSticky
      showToggleTheme
      position='left'
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="  "
    tagline=""
  >
    <Fragment slot="subtitle">
      这里是用来记录生活中的一些事情的地方 <br /> 可以会记录一些程序代码，一些短暂的没有缘由的想法，一些看着莫名其妙但是好玩的事情，
      大部分是一个有限个体对这个复杂而又简单的世界的一点带有偏见的记录。
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      // {
      //   icon: 'tabler:brand-dribbble',
      //   callToAction: {
      //     target: '_blank',
      //     text: 'Dribbble',
      //     href: '#',
      //   },
      // },
      // {
      //   icon: 'tabler:brand-behance',
      //   callToAction: {
      //     target: '_blank',
      //     text: 'Behance',
      //     href: '#',
      //   },
      // },
      // {
      //   icon: 'tabler:brand-pinterest',
      //   callToAction: {
      //     target: '_blank',
      //     text: 'Pinterest',
      //     href: '#',
      //   },
      // },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1706273931417-8110e9fc33c9?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">关于</h3>
     
      <br />
      <p>
        尝试记录一些东西
      </p>
      <br />
      <p>如果这里记录的东西，你碰巧有相同的感触，或者想要跟进一步的分享你的内容，可以关注我，如果你愿意，相信你可以找到联系方式</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Graphic Designer <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> --> 

  <!-- Features3 Widget ************** -->
<!-- 
  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Graphic design',
        description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
      },
      {
        title: 'Branding and identity',
        description: 'Skilled at developing cohesive brand identities, including logos and brand guidelines.',
      },
      {
        title: 'User-centered design',
        description: 'Experienced in creating user-friendly interfaces and optimizing user experiences.',
      },
      {
        title: 'Adobe Creative Suite',
        description: 'Skilled in using Photoshop, Illustrator, and InDesign to create and edit visual elements.',
      },
      {
        title: 'Typography',
        description: 'Adept in selecting and manipulating typefaces to enhance design aesthetics.',
      },
      {
        title: 'Color theory',
        description: 'Proficient in using color to evoke emotions and enhance visual harmony.',
      },
      {
        title: 'Print and digital design',
        description: 'Knowledgeable in designing for both print materials and digital platforms.',
      },
      {
        title: 'Attention to detail',
        description: 'Diligent in maintaining precision and quality in all design work.',
      },
      {
        title: 'Adaptability',
        description: 'Quick to adapt to new design trends, technologies, and client preferences.',
      },
    ]}
  /> -->

  

  <!-- Testimonials Widget *********** -->


 

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="最近的一些记录内容"
    information={`感受当下、记录当下、创造当下、感谢当下、创造当下、Live Now`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
