---
import { SITE } from '~/utils/config';
import logo from '~/assets/images/app-j-logo.png'
import Image from '~/components/common/Image.astro';

---


  <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
  <div class="pl-2"> 
    <Image  src={logo} alt="44" width={30}, height={40}> 
  </div>



